<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2> Ventas mensuales últimos 12 meses </h2>
<%= column_chart @sales %>

<hr>
<!--<h2> Conteo mensuales últimos 12 meses </h2>
<%= column_chart @salescount %>
-->

<hr>
<h2> Promedio mensuales últimos 12 meses </h2>
<%= column_chart @salesavg %>

<hr>

<!--<p>Ventas anuales</p>
<%= pie_chart @salespieorigin1%>

<p>Ventas Semestrales</p>
<%= pie_chart @salespieorigin2%> 

<p>Ventas Trimestrales</p>
<%= pie_chart @salespieorigin3%>

<p>Ventas último mes</p>
<%= pie_chart @salespieorigin4%>


<hr>

<p>Ventas anuales</p>
<%= pie_chart @salespiename1%>

<p>Ventas Semestrales</p>
<%= pie_chart @salespiename2%> 

<p>Ventas Trimestrales</p>
<%= pie_chart @salespiename3%>

<p>Ventas último mes</p>
<%= pie_chart @salespiename4%>
-->
